.users{
    margin: 2rem auto;
    width: 90%;
    max-width: 43rem;
}
.users ul{
   list-style: none;
   padding: 1rem; 
}
.users li{
    border: 1px solid rgba(15, 15, 77, 0.514);
    margin: .5rem 0;
    padding: 1rem;
}